body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
   
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

img {
   display: block;
}

ul,
ol {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   list-style-type: none;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1158px;
   /*padding-left: 15px;
   padding-right: 15px;*/
margin: 0 auto;
   
}

.flex {
   display: block;
   align-items: center;
}


@media screen and (min-width: 1158px) {
   .section {
       padding-top: 120px;
       padding-bottom: 120px;
   }
}


/* header */

.header-section {
  border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigaion-part {
   display: flex;
   align-items: center;
}

.navigaion-part-logo {
   display: flex;
   padding: 17px 1px;
   justify-content: space-between;
   padding-right: 15px;
   padding-left: 15px;
}

.container-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;

}

.header-section-list {
   display: flex;
   gap: 40px;
   background: #fff;
}

.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #404bbf;
   margin-right: 76px;
   position: relative;
}


.logo .main-logo-head:hover,
.logo .main-logo-head:active {
   color: #404BBF;
   text-decoration: underline;
}

.main-logo-head {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.16667;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #2e2f42;
}

.header-section-list-item {
   font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
}

.navigaion-help {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
padding: 24px 0;
}

.navigaion-help.mod {
   color: #404BBF;
   position: relative;
}

.navigaion-help.mod::after {
   content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      width: 48px;
      height: 4px;
      background-color: #404BBF;
      border-radius: 2px;
}

.navigaion-help:hover,
.navigaion-help:focus {
   position: relative;
   color: #404BBF;
}

.contacts-inform {
   font-style: normal;
}

.contacts-inform-part {
   display: flex;
   gap: 40px;
}

.navigaion-lincs {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigaion-lincs:hover,
.navigaion-lincs:focus {
   color: #404BBF;
}

/*mob*/

.header-btn-mob {
   border: none;
    background-color: transparent;
    cursor: pointer;
}

.head-mob-menu {
   width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 89px 9px 40px 1px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.head-mob-menu.is-open-mob {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}


.head-mob-menu-list {
   display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-left: 8px;
}


.mob-menu-link{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11111;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 40px;
}

.mob-menu-contacts {
   padding-left: 15px;
}

.mob-menu-contacts-inform-part {
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin-bottom: 48px;
}

.mob-menu-contacts-navigaion-help {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #4d5ae5;
}

.mob-media-icons {
   display: flex;
    gap: 40px;
}

.mob-media-icons-list {
   width: 40px;
   height: 40px;
}

.mob-icons-list-link {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
   .navigaion-part-logo {
       padding: 0px;
   }

   .header-section-list-item {
       padding: 24px 0;
   }

   .contacts-inform {
       display: block;
       font-style: normal;
   }

   .header-section .container-navigation {
       display: flex;
       justify-content: space-between;
       padding-left: 15px;
       padding-right: 15px;
   }

   .navigaion-part {
       display: flex;
       align-items: center;
   }

   .header-btn {
       display: none;
   }

   .navigaion-help mod::after {
       content: "";
       width: 100%;
       position: absolute;
       left: 0;
       height: 4px;
       background-color: #404bbf;
       border-radius: 2px;
       bottom: -1px;
   }

   .menu-list {
       display: flex;
       gap: 40px;
   }

  .header-section-list {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #2e2f42;
       display: block;
       padding-top: 24px;
       padding-bottom: 24px;
       text-decoration: none;
       position: relative;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .navigaion-lincs {
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
       display: block;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
       text-decoration: none;
       font-style: normal;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .navigaion-lincs:hover,
   .navigaion-lincs:focus {
       color: #404bbf;
   }

   .navigaion-lincs-list {
       display: flex;
       flex-direction: column;
       gap: 12px;
       padding: 16px 0;
   }

   .head-mob-menu {
       display: none;
   }
}

@media screen and (min-width: 1158px) {
   .menu-list {
       gap: 40px;
   }

   .header-section-list-item {
       padding-top: 24px;
       padding-bottom: 24px;
   }

   .navigaion-lincs {
       padding-top: 24px;
       padding-bottom: 24px;
   }

   .inform-part {
       flex-direction: row;
       gap: 40px;
   }
}


/* main content */
/*section 1*/
.hero-image {
   background: #2e2f42;
   padding: 188px 0;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
}

.title {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
   margin-bottom: 48px;
   max-width: 496px;
   margin-left: auto;
   margin-right: auto;
}

.hero-button {
   font-family: "Roboto", sans-serif;
   background: #4d5ae5;
   cursor: pointer;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #fff;
   display: block;
   border-radius: 4px;
   padding: 16px 32px;
   margin: 0 auto;
   min-width: 169px;
   height: 56px;
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
   background-color: #404BBF;
}

/*section 2*/

.principal {
   padding: 120px 0 120px 0;
}

.visually-hidden {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11111;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


.principal-list {
   display: flex;
   gap: 24px;
}

.principal-list-item {
   width: calc((100% - 72px) /4);
   flex-grow: 1;
}

.principal-icon{
   border: 1px solid #8e8f99;
      border-radius: 4px;
      width: 264px;
      height: 112px;
      background: #f4f4fd;
      padding: 24px 100px;
         margin-bottom: 8px;
         display: flex;
         align-items: center;
         justify-content: center;
}

.title-principal {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
}

.principal-list-item {
   width: calc((100% - 72px) /4);
   flex-grow: 1;
}

.text-principal {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

/*section 3*/

.team {
   background: #f4f4fd;
   padding: 120px 0 120px;
}

.team-title {
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
}

.team-title-list {
   display: flex;
   gap: 24px;
}

.team-list {
   background-color: #FFFFFF;
   width: calc((100% - 70px) /4);
   background: #fff;
   border-radius: 0 0 4px 4px;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-psevdoconteiner {
   padding: 32px 0;
}

.team-title-hero {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
   text-align: center;
}

.team-list-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   text-align: center;
}

.team-icons{
display: flex;
   justify-content: center;
   gap: 24px;
   margin-top: 8px;
}

.team-icons-list {
   width: 40px;
      height: 40px;
}

.team-icons-list-link {
   width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #4D5AE5;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ico {
   fill: #f4f4fd;
}
.team-icons-list-link:hover,
.team-icons-list-link:focus {
   background-color: #404BBF;
}

/*section 4*/

.portfolio {
   padding: 120px 0 120px;
}

.portfolio-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
}

.portfolio-title-list {
   display: flex;
   row-gap: 48px;
   column-gap: 24px;
   flex-wrap: wrap;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
   width: calc((100% - 48px) /3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-transformer {
position: relative;
   overflow: hidden;
}

.portfolio-transformer-text {
   font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      background-color: #4d5ae5;
      padding: 40px 32px;
      position: absolute;
      width: 100%;
      top: 0;
      transform: translateY(100%);
      height: 100%;
      width: 100%;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .portfolio-transformer-text {
   transform: translateX(0%);
}

.portfolio-psevdoconteiner {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.portfolio-title-card {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px
}

.portfolio-title-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

/* modal overlay */

/*.modal-overlay {
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   display: flex;
   justify-content: center;
   align-items: center;

   opacity: 0;
   pointer-events: none;
   transition: opacity 250ms ease-in-out ;
}
*/ 

.modal-overlay.is open {
   opacity: 1;
   pointer-events: auto;
}

.modal {
   background-color: #fff;
   border-radius: 4px;
   padding: 16px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   max-width: 480px;
   max-height: 80%;
   overflow-y: ayto;
}


/* footer */
.fot {
   background: #2e2f42;
   padding-top: 100px;
   padding-bottom: 100px;


     

}

/*footer logo*/  


.logo-fot {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   display: inline-block;
   margin-bottom: 16px;
}

.main-logo-foot {
   color: #f4f4fd;
}



.fot-text {
line-height: 1.5;
   color: #F4F4FD;
   letter-spacing: 0.02em;
   max-width: 264px;
   max-height: 80px;
}

.footer-wrapper{
display: flex;
   align-items: baseline;
   flex: 1;
 

}

.fot .container .footer-wrapper {
   display: flex;
}

.logo-wrapper {
margin-right: 120px;
}

/*footer sosial icons*/

.fot-icon {
   position: relative;
   display: inline-block;
}

.fot-icon-text{
   font-family: "Roboto", sans-serif;
      font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #FFFFFF;
         margin-bottom: 16px;
   }


.fot-icon-list {
   display: flex;
   justify-content: center;
    width: 208px;
   gap: 16px;
     
   
}

.fot-icons-list-link{
   width: 100%;
      height: 100%;
      background-color: #4D5AE5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fot-icons-list-item{
   width: 40px;
      height: 40px;
}

.fot-icons-list-link:hover,
.fot-icons-list-link:focus {
   background-color: #31D0AA;
}

.fot-icon-page {
   fill: #f4f4fd;
}

/*footer form*/

.fot-form {
display: flex;
   flex-direction: column;
   align-items: flex-end;
align-items: baseline;
margin-left: auto;
}

.fot-form-par {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
      font-size: 16px;
   
      /* line-height: 24px; */
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #fff;
      margin-bottom: 16px;
}

.fot-form-wrap {
      display: flex;
      gap: 24px;
}

.fot-label {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
      font-size: 12px;
   
      /* line-height: 24px; */
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
}

.fot-input {
border: 1px solid #fff;
   border-radius: 4px;
   width: 264px;
   height: 40px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   background-color: transparent;
   color: #fff;
   font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      padding-left: 16px;
      gap: 24px;

}

.fot-input::placeholder {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 12px;
   line-height: 200%;
   letter-spacing: 0.04em;
   color: #ffffff;
   
}

.fot-submit-btn {
   display: flex;
   align-items: center;
   justify-content: center;

   max-width: 165px;
   height: 40px;
   min-width: 165px;

font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffff;
border: none;
cursor: pointer;
border-radius: 4px;
padding: 8px 24px;    
background-color: #4d5ae5;
}

.fot-telega {
   fill: #ffff;
      margin-left: 16px;
}


/* modal overlay form*/

input,
textarea,
button {
   font-family: inherit;
   line-height: inherit;
}

.modal-overlay {
   width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(46, 47, 66, 0.4);
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
     opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

      }


   .modal {
   position: absolute;
   width: 408px;
   min-height: 584px;
   border-radius: 4px;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
   background: #fcfcfc;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 72px 24px 24px 24px;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.is-open {
 opacity: 1;
 visibility: visible;
    pointer-events: auto;
 }


.modal-btn-icon {
display: flex;
width: 24px;
height: 24px;
border-radius: 50%;
padding: 0;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
position: absolute;
align-items: center;
justify-content: center;
cursor: pointer;
top: 24px;
right: 24px;
  
}
 
.modal-btn-icon:hover,
.modal-btn-icon:focus {
background-color: #404bbf;
border: none;
}

.icon-close {
   justify-content: center;
      align-items: center;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:hover .icon-close{
   fill: #fff;
}

.modal-btn-icon:focus .icon-close {
   fill: #fff;
}


.modal-par {
font-family: "Roboto", sans-serif;
font-weight: 500;
   font-size: 16px;

   /* line-height: 24px; */
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
   margin-bottom: 16px;
}

.modal-wrap-bloc {
   margin-bottom: 8px;
}

.submit-btn {
   display: inline-flex;
   padding: 8px 12px;
   font-size: 14px;
   border: none;
   border-radius: 4px;
   background-color: #009688;
   color: #fff;
   cursor: pointer;
   box-shadow: 2px 2px 2px 0 rgba(33, 33, 33, 0.3);
}

.submit-btn:hover,
.submit-btn:focus {
   background-color: #00796b;
}

.submit-btn:disabled {
   background-color: #9e9e9e;
   cursor: not-allowed;
   box-shadow: none;
}

.modal-name {
   display: block;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 117%;
      letter-spacing: 0.04em;
      color: #8e8f99;
      margin-bottom: 4px;
}

.modal-wrap {
   position: relative;
}

.modal-icon {
   position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.input {
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      outline: transparent;
      padding-left: 38px;
      width: 100%;
      height: 40px;
      background-color: transparent;
}

.input:focus {
   border-color: #4d5ae5;
}

.input:focus+.modal-icon {
   fill: #4d5ae5;
}

.modal-textarea {
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      width: 100%;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      height: 120px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      background-color: transparent;
}

.modal-textarea-bloc {
margin-bottom: 16px;
}


.modal-textarea::placeholder {
   font-family: "Roboto",
         sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 117%;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
border-color: #4d5ae5;
}


.modal-check-bloc {
   margin-bottom: 24px;
}

.check-input:checked + .check-label .check-span {
   fill: #F4F4FD;
      background-color: #404BBF;
      border: none;
}

.check-label {
   font-size: 12px;
      line-height: 117%;
      letter-spacing: 0.04em;
      color: #8e8f99;
}

.check-span {
   border-radius: 2px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      width: 16px;
      height: 16px;
      align-items: center;
      display: inline-flex;
      justify-content: center;
      fill: transparent;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
   line-height: 133%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #4d5ae5;
}

.modal-btn {
   display: block;
   font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: #4d5ae5;
      border: none;
      min-width: 169px;
      cursor: pointer;
      height: 56px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin: 0 auto;
      border-radius: 4px;
}
